
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model LaywerApp.Models.ArticlesAndCollaborators


@{
    ViewBag.Title = "Main page";
}


<div class=" container-fluid p-5">
    <div class=" row justify-content-center">
        <div class="col-md-3">
        </div>
        <div class="col">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/general-law-1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/general-law-2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/general-law-3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<div class="container-fluid" id="aboutUs">
    <div cllas="row justify-content-sm-center align-items-center">
        <div class="col-7 d-inline-block p-5">
            <div class="row align-items-center">
                <div class="col">
                    <h1>За нас</h1>
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ut ullamcorper, quam sed pulvinar pharetra, elit dolor viverra erat,
                        vel pretium erat sem nec tortor. Cras eget nulla lorem. Donec auctor,
                        mauris quis finibus consequat, augue sem malesuada nisi, eget lobortis libero
                        erat finibus ante. In dictum elit accumsan iaculis mattis. Nam maximus leo enim,
                        eget tempus purus rhoncus eget. Fusce urna diam, molestie vitae commodo in, blandit eu
                        felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Mauris elit elit, ornare tincidunt nulla quis, euismod vehicula justo. Cras semper ante erat,
                        sed efficitur velit rutrum et. Aenean mattis, eros ac feugiat vehicula, lacus libero bibendum
                        massa, ac lobortis tellus ex vel risus. Vivamus vitae aliquam nibh. Nam auctor aliquam lorem.
                        \Nunc posuere purus et ex aliquam, nec bibendum ex tincidunt. Integer ultrices, lectus in
                        accumsan pulvinar, justo nulla porttitor ipsum, ac ultricies nisi metus vel metus. Nunc rhoncus
                        mi eu sapien congue, et ultricies leo lacinia. Aliquam vitae arcu ullamcorper mi tempor semper.
                        Curabitur consectetur ipsum a turpis scelerisque tincidunt. Donec dignissim magna eget faucibus convallis.
                        Integer a tristique risus. In at tellus ligula. Sed accumsan mi ut dapibus faucibus. Duis libero sapien, facilisis sit amet sem id,
                        iaculis elementum justo. Aliquam et metus dictum, egestas eros quis, euismod dolor. Integer viverra rhoncus massa a sodales. Nam viverra eget
                        ligula a suscipit. Nullam in faucibus risus, id facilisis lacus. Ut iaculis, sapien quis aliquam lobortis, metus turpis molestie dolor, fermentum
                        finibus diam nulla quis sapien. Cras felis nibh, varius a ante at, consequat posuere massa. Aenean euismod tempus velit, ut suscipit ligula dictum in.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Integer lacinia elit aliquam justo hendrerit cursus. Phasellus tempus tempus mi nec scelerisque. Mauris id faucibus enim. Nullam porttitor non magna nec imperdiet.
                        Sed facilisis erat sed velit porttitor, at hendrerit magna venenatis. Aenean egestas facilisis velit, vel volutpat turpis vestibulum non. Quisque gravida viverra est,
                        a auctor eros fermentum pulvinar. Etiam varius at felis a faucibus. Etiam vel pharetra orci.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3 d-inline-block m-5 p-5">
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <img src="https://media.tenor.com/images/93f62b10b4c590fbf0890782812e91d9/tenor.gif" style="width: 300px" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid overflow-auto" id="articles" style="height: 38rem">
    <div class="row p-5 justify-content-center">
        @foreach (var article in Model.Articles)
        {

            <div class="col-7 p-3">
                <div class="cusomShadow" style="width: 50rem; border: 1px solid black">
                    <table>
                        <tr>
                            <td style="width: 30%">
                                <img style="width: 100%; height: 150px" src="@article.ImageUrl" class="card-img-top" alt="...">
                            </td>
                            <td style="width:70%">
                                <div class="card-body">
                                    <h5 class="card-title">@article.Title</h5>
                                    <p class="card-text">@article.ShortDescription</p>
                                    <a asp-controller="Home" asp-action="ArticleDetails" asp-route-id="@article.Id" class="btn btn-success">See description</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        }
    </div>
</div>

<div class="row p-5" id="collaborators">
        @foreach (var collaborator in Model.Collaborators)
        {
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img style="width: 100%; height: 300px" src="@collaborator.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@collaborator.Status @collaborator.Name @collaborator.LastName</h5>
                        <a asp-controller="Home" asp-action="CollaboratorsDetails" asp-route-id="@collaborator.Id" class="btn btn-primary">See description</a>
                    </div>
                </div>
            </div>
        }
    </div>