@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model LaywerApp.ViewModels.ArticleDetailsModel

@{
    ViewBag.Title = "Article details";
}

<div class="container-fluid">
    <div class="row justify-content-center p-5">
        <div class="col text-justify">
            <h1 class="text-center">@Model.Title</h1>
            <h6 class="text-left p-5">Published on: @Model.DateCreated</h6>
            <div class="row">
                <div class="col-3">
                    <img class="p-5 justify-content-md-center align-content-center w-100 customShadow" src="@Model.ImageUrl" alt="Alternate Text" />
                </div>
                <div class="col-9">
                    <h5 class="p-5">@Model.Text.</h5>
                </div>
            </div>
            <h6 class="p-5">Source: @Model.Source</h6>
        </div>
    </div>
</div>

@section footer{
    <partial name="PartialFooterView">
}
